body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    color: #f1f1f1;
}

section#inicio {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: center;
    background: #4CAF50;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

p {
    margin: 1em 0;
    text-align: center;
}

strong {
    color: #edefed;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Add margin for spacing */
}

img {
    height: 300px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}